<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alex Runs Forever</title>
</head>
<body>
    @RenderBody()
    
    <script type="text/javascript" src="includes/js/lib/crafty.min-0.7.1.js"></script>
    <script type="text/javascript" src="includes/js/lib/jquery.min-3.1.1.js"></script>
    <script type="text/javascript" src="includes/js/lib/lodash.min-4.17.2.js"></script>

    <script type="text/javascript" src="includes/js/components/Background.js"></script>
    <script type="text/javascript" src="includes/js/components/BackgroundManager.js"></script>
    <script type="text/javascript" src="includes/js/components/LevelBuilder.js"></script>
    <script type="text/javascript" src="includes/js/components/Platform.js"></script>
    <script type="text/javascript" src="includes/js/components/Alex.js"></script>
    <script type="text/javascript" src="includes/js/components/Coin.js"></script>
    <script type="text/javascript" src="includes/js/loadingscreen.js"></script>
    <script type="text/javascript" src="includes/js/startscreen.js"></script>
    <script type="text/javascript" src="includes/js/level1.js"></script>
    <script type="text/javascript" src="includes/js/game.js"></script>
</body>
</html>